html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Ubuntu Mono', monospace;
  /* width: 100%; */
  /* overflow: hidden; */
}

svg {
  margin: 0;
  padding: 0;
}

svg, legend {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
}

.button {
  cursor: pointer;
}

#container {
  margin: 0;
  padding: 0;
  background: #EEEEEE;
  height: 100%;
  overflow: hidden;
}