html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* width: 100%; */
  /* overflow: hidden; */
}

p {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Courier New";
}

svg {
  margin: 0;
  padding: 0;
  /* }

#legend { */
  /* position: absolute;
  left: 0px;
  top: 0px; */
  /* height: 100%;
  width: 100%; */
}

text {
  font-family: "Courier New";
}

#container {
  margin: 0;
  padding: 0;
  background: #EEEEEE;
  height: 95%;
  overflow: hidden;
}

#console {
  margin: 0;
  padding: 0;
  background: #CCCCCC;
  height: 5%;
  overflow: hidden;
}